FPGA/db/*
FPGA/output_files/*
FPGA/greybox_tmp/*
FPGA/incremental_db/*
Filters/Iowa*
Filters/WinFilter.exe
STM32/MDK-ARM/UA3REO/UA3REO.build_log.htm
STM32/MDK-ARM/UA3REO/UA3REO.htm
Scheme/EXPERIMENTS/*
*.o
*.bak
*.d
*.smsg
*.rpt
*.crf
*._2i
*.__i
*._ia
*.summary
*.axf
*.map
*.dep
*.hex
*.jic
*.pof
*.rpt
*.sof
UA3REO.uvguix.*
