FPGA/*/db/*
FPGA/*/output_files/*
FPGA/*/greybox_tmp/*
FPGA/*/incremental_db/*
Scheme/ALTIUM_DESIGNER/__Previews/*
Scheme/ALTIUM_DESIGNER/*/*/__Previews/*
Scheme/ALTIUM_DESIGNER/*/*/History/*
Scheme/*/*/*.PcbDoc.htm
STM32/*/MDK-ARM/WOLF/*.htm
STM32/*/MDK-ARM/WOLF/*.hex
STM32/*/MDK-ARM/WOLF-X1/*.htm
STM32/*/MDK-ARM/WOLF-X1/*.hex
STM32/*/MDK-ARM/WOLF-Lite/*.htm
STM32/*/MDK-ARM/WOLF-Lite/*.hex
STM32/*/MDK-ARM/*.bin
STM32/Debug/*
Status Report.txt
Design Rule Check*
*~*.zip
*.log
*.o
*.lnp
*.bak
*.d
*.smsg
*.rpt
*.crf
*._2i
*.__i
*._ia
*.summary
*.axf
*.map
*.dep
*.jic
*.pof
*.rpt
*.sof
WOLF.uvguix.*
WOLF-X1.uvguix.*
WOLF-Lite.uvguix.*
