FPGA/db/*
FPGA/output_files/*
FPGA/greybox_tmp/*
FPGA/incremental_db/*
Scheme/ALTIUM_DESIGNER/__Previews/*
Scheme/ALTIUM_DESIGNER/*/__Previews/*
STM32/MDK-ARM/UA3REO/UA3REO.build_log.htm
STM32/MDK-ARM/UA3REO/UA3REO.htm
Status Report.txt
Design Rule Check*
*~*.zip
*.log
*.o
*.bak
*.d
*.smsg
*.rpt
*.crf
*._2i
*.__i
*._ia
*.summary
*.axf
*.map
*.dep
*.hex
*.jic
*.pof
*.rpt
*.sof
UA3REO.uvguix.*
